{% extends 'main/base.html' %}

{% block title %}{{ app.name }} - AppStore{% endblock %}

{% block content %}

    <p><a href="{% url 'main:index' %}"><- Ко всем приложениям</a></p>

    <h2>{{ app.name }}</h2>


    <p>Категория:
        {% if app.category %}
             <a href="{% url 'main:category' app.category.id %}">{{ app.category}}</a>
        {% else %}
            Без категории
        {% endif %}
    </p>

    <p>
        {% if app.price == 0 %}
                <strong>Бесплатно</strong>
            {% else %}
                <strong>Цена: {{ app.price }} $</strong>
            {% endif %}
    </p>

    {% if app.description %}
        <p>Описание: {{ app.description }}</p>
    {% else %}
        <p>Описание пока не добавлено</p>
    {% endif %}

    <p>Добавлено: {{ app.created_at|date:"d.m.Y H:i" }}</p>


<li>
    <p>Примерно за те же деньги:</p>

    {% for similar in similar_apps %}
        <div>
            <h3><a href="{% url 'main:app_detail' similar.id %}">{{ similar.name }}</a></h3>
            <p>Цена: {{ similar.price }}</p>
        </div>
    {% empty %}
        <p>Похожих по цене приложений нет.</p>
    {% endfor %}
</li>

{% endblock %}